In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [1]:
#LIST ITERATION

l1= [10,20,30]

for i in l1:
  print(i+1)

11
21
31

In [3]:
# list membership

l1 = [10,20,30]
print(10 in l1)
print(40 in l1)
print(40 not in l1)
print('10' in l1)

True
False
True
False

In [9]:
#append
l1 = [10,20,30]
l1.append(50)
print(l1)

[10, 20, 30, 50]

In [7]:
# append multiple elements
l1 = [10,20,30]
b= [1,2,3,4,5]
for i in b:
  number = int(input("Enter number"))
  l1.append(number)
  print(l1)

Enter number40
[10, 20, 30, 40]
Enter number50
[10, 20, 30, 40, 50]
Enter number60
[10, 20, 30, 40, 50, 60]
Enter number70
[10, 20, 30, 40, 50, 60, 70]
Enter number80
[10, 20, 30, 40, 50, 60, 70, 80]

In [10]:
# extend[multiple element added at single time]

l1= [10,20,30]
l1.extend([1,2,3,4,5])
print(l1)

[10, 20, 30, 1, 2, 3, 4, 5]

In [13]:
#insert
l1 = [10,20,30]
l1.insert(1,15)
print(l1)

[10, 15, 20, 30]

In [14]:
#remove
l1 = [10,20,30]
l1.remove(20)
print(l1)

[10, 30]

In [15]:
#pop with argument
l1 = [10,20,30]
l1.pop(1)
print(l1)

[10, 30]

In [16]:
#pop without argument
l1 = [10,20,30]
l1.pop()
print(l1)

[10, 20]

In [17]:
#clear
l1 = [10,20,30]
l1.clear()
print(l1)

[]

In [18]:
#del
l1 = [10,20,30]
del l1
print(l1)

NameError: name 'l1' is not defined

In [ ]:
#NESTED FOR LOOP
for i in "BLR":
  print("outer loop")

  for j in [1,20,30]:
    print("inner loop")
    print(i,j)

outer loop
inner loop
B 1
inner loop
B 20
inner loop
B 30
outer loop
inner loop
L 1
inner loop
L 20
inner loop
L 30
outer loop
inner loop
R 1
inner loop
R 20
inner loop
R 30

In [ ]:
# reverse a string
str = input("Enter the string:")
print(str[::-1])

Enter the string:fgfhgjkhl
lhkjghfgf

In [ ]:
# palindrome
str = input("Enter a string:")

reverse = str[::-1]

if str == reverse:
    print("palindrome")
else:
  print("not a palindrome")

Enter a string:efdsfc
not a palindrome

In [ ]:
#string deletion
s1 = "apple"
print(s1)
del s1
print(s1)

apple

NameError: name 's1' is not defined

In [ ]:
# count
str = input("Enter the string")
c = str.count('co')
print("length:",c)

Enter the stringcountcount
length: 2

In [ ]:
#count with starting index
str = input("Enter the string")
c = str.count('co',1,)
print("length:",c)

Enter the stringcountcount
length: 1

In [ ]:
#concatenation
s1 = "apple"
s2 = "banana"
print(s1+s2)
print(s1*3)

applebanana
appleappleapple

In [ ]:
#startswith
a = "abcde"
b = "abcde"
if a.startswith(b):
  print("true")
else:
  print("false")

true

In [ ]:
#endswith
a = input("enter the string:")
if a.endswith(".com"):
  print("commercial website")
elif a.endswith(".edu"):
  print("educational website")
else:
  print("website")

enter the string:asfgg.com
commercial website

In [ ]:
# lstrip[removes left side]
name = input("enter the name")
print(name)
name = name.lstrip()
print(name)

enter the name   cghvhjbk
   cghvhjbk
cghvhjbk

In [ ]:
#lstrip with arguments passed
name = input("enter the name")
print(name)
name = name.lstrip('a')
print(name)

enter the nameaaauto
aaauto
uto

In [ ]:
#lstrip with one argument passed removes all
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("htp:/w.")
  print(i)

myntra.com
ajio.com
cricbuzz.com

In [ ]:
#strip[removes both sides]
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  i = i.strip("http:com")
  print(i)

//www.myntra.
//www.ajio.
//www.cricbuzz.

In [ ]:
#equals
a = "apple"
b = "APPLE"
b = b.lower()
if(a == b):
  print("equal")
else:
  print("not equal")

equal

In [ ]:
#ascii
a = "A"
print(ord(a))
b = "a"
print(ord(b))
#greater by ascii value
if(a>b):
  print("a is greater")
else:
  print("b is greater")

65
97
b is greater

In [ ]:
#replace
s = "apple"
s1 = s.replace("p","P",2)
print(s1)
print(s)

aPPle
apple

In [ ]:
a = 10
print(a)
print(id(a))

10
10751144

In [ ]:
2+3

5