In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
#List[find type]
l = [10,20,'ntt',1.1]
print(l)
print(type(l))

[10, 20, 'ntt', 1.1]
<class 'list'>

In [ ]:
#list indexing
l = [10,20.3,3.15,"ntt",[1,2,3]]
print(l[1])
print(l[-2])
print(l[4])
print(l[4][1])

20.3
ntt
[1, 2, 3]
2

In [ ]:
#list slicing
l= [10,20,2.3,"ntt",[1,2,3]]
print(l[::])
print(l[::-1])

[10, 20, 2.3, 'ntt', [1, 2, 3]]
[[1, 2, 3], 'ntt', 2.3, 20, 10]

In [ ]:
#LIST Delete
l= [10,20,30,40,50]
print(l)
del(l[0])
del(l[1:3:1])
print(l)

[10, 20, 30, 40, 50]
[20, 50]

In [ ]:
#LIST ITERATION

l1= [10,20,30]

for i in l1:
  print(i+1)

11
21
31

In [ ]:
# list membership

l1 = [10,20,30]
print(10 in l1)
print(40 in l1)
print(40 not in l1)
print('10' in l1)

True
False
True
False

In [ ]:
#list maximum with no argument
l = [10,20,30]
print(max(l))
l1 = ["apple","Bananass","Orange"]
print(max(l1))

#list with key
l2 = ["apple","bananass"]
print(max(l1,key = len))

#list with default[used only when list is empty to avoid error]

l3 = []
print(max(l3,default = "list is empty"))
print(max(l3,default = 1))

30
apple
Bananass
list is empty
1

In [ ]:
#list minimum with no argument
l = [10,20,30]
print(min(l))
l1 = ["apple","Bananass","Orange"]
print(min(l1))

#list with key
l2 = ["apple","bananass"]
print(min(l1,key = len))

#list with default[used only when list is empty to avoid error]

l3 = []
print(min(l3,default = "list is empty"))
print(min(l3,default = 1))

10
Bananass
apple
list is empty
1

In [ ]:
#append
l1 = [10,20,30]
l1.append(50)
print(l1)

[10, 20, 30, 50]

In [ ]:
# append multiple elements
l1 = [10,20,30]
b= [1,2,3,4,5]
for i in b:
  number = int(input("Enter number"))
  l1.append(number)
  print(l1)

Enter number40
[10, 20, 30, 40]
Enter number50
[10, 20, 30, 40, 50]
Enter number60
[10, 20, 30, 40, 50, 60]
Enter number70
[10, 20, 30, 40, 50, 60, 70]
Enter number80
[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
# extend[multiple element added at single time]

l1= [10,20,30]
l1.extend([1,2,3,4,5])
print(l1)

[10, 20, 30, 1, 2, 3, 4, 5]

In [ ]:
#insert
l1 = [10,20,30]
l1.insert(1,15)
print(l1)

[10, 15, 20, 30]

In [ ]:
#remove
l1 = [10,20,30]
l1.remove(20)
print(l1)

[10, 30]

In [ ]:
#pop with argument
l1 = [10,20,30]
l1.pop(1)
print(l1)

[10, 30]

In [ ]:
#pop without argument
l1 = [10,20,30]
l1.pop()
print(l1)

[10, 20]

In [ ]:
#clear
l1 = [10,20,30]
l1.clear()
print(l1)

[]

In [ ]:
#del
l1 = [10,20,30]
del l1
print(l1)

NameError: name 'l1' is not defined

In [ ]:
#NESTED FOR LOOP
for i in "BLR":
  print("outer loop")

  for j in [1,20,30]:
    print("inner loop")
    print(i,j)

outer loop
inner loop
B 1
inner loop
B 20
inner loop
B 30
outer loop
inner loop
L 1
inner loop
L 20
inner loop
L 30
outer loop
inner loop
R 1
inner loop
R 20
inner loop
R 30

In [ ]:
# reverse a string
str = input("Enter the string:")
print(str[::-1])

Enter the string:fgfhgjkhl
lhkjghfgf

In [ ]:
# palindrome
str = input("Enter a string:")

reverse = str[::-1]

if str == reverse:
    print("palindrome")
else:
  print("not a palindrome")

Enter a string:efdsfc
not a palindrome

In [ ]:
#string deletion
s1 = "apple"
print(s1)
del s1
print(s1)

apple

NameError: name 's1' is not defined

In [ ]:
# count
str = input("Enter the string")
c = str.count('co')
print("length:",c)

Enter the stringcountcount
length: 2

In [ ]:
#count with starting index
str = input("Enter the string")
c = str.count('co',1,)
print("length:",c)

Enter the stringcountcount
length: 1

In [ ]:
#concatenation
s1 = "apple"
s2 = "banana"
print(s1+s2)
print(s1*3)

applebanana
appleappleapple

In [ ]:
#startswith
a = "abcde"
b = "abcde"
if a.startswith(b):
  print("true")
else:
  print("false")

true

In [ ]:
#endswith
a = input("enter the string:")
if a.endswith(".com"):
  print("commercial website")
elif a.endswith(".edu"):
  print("educational website")
else:
  print("website")

enter the string:asfgg.com
commercial website

In [ ]:
# lstrip[removes left side]
name = input("enter the name")
print(name)
name = name.lstrip()
print(name)

enter the name   cghvhjbk
   cghvhjbk
cghvhjbk

In [ ]:
#lstrip with arguments passed
name = input("enter the name")
print(name)
name = name.lstrip('a')
print(name)

enter the nameaaauto
aaauto
uto

In [ ]:
#lstrip with one argument passed removes all
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("htp:/w.")
  print(i)

myntra.com
ajio.com
cricbuzz.com

In [ ]:
#Rstrip
url = ["http:\www.amazon.com"]
for i in url:
  i = i.rstrip("cm")
  print(i)

http:\www.amazon.co

In [ ]:
#strip
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  i = i.strip("http:com")
  print(i)

//www.myntra.
//www.ajio.
//www.cricbuzz.

In [ ]:
#strip[removes both sides]
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  i = i.strip("http:com")
  print(i)

//www.myntra.
//www.ajio.
//www.cricbuzz.

In [ ]:
#SPLIT
s = "I live in pondicherry"
s.split()

['I', 'live', 'in', 'pondicherry']

In [ ]:
#split with arguments passed
s = "I live in pondicherry"
s.split('e')

['I liv', ' in pondich', 'rry']

In [ ]:
#split with limit passed
s = "I_ live_ in_ pondy"
s.split('_',2)

['I', ' live', ' in_ pondy']

In [ ]:
#equals
a = "apple"
b = "APPLE"
b = b.lower()
if(a == b):
  print("equal")
else:
  print("not equal")

equal

In [ ]:
#ascii
a = "A"
print(ord(a))
b = "a"
print(ord(b))
#greater by ascii value
if(a>b):
  print("a is greater")
else:
  print("b is greater")

65
97
b is greater

In [ ]:
#replace
s = "apple"
s1 = s.replace("p","P",2)
print(s1)
print(s)

aPPle
apple

In [ ]:
a = 10
print(a)
print(id(a))

10
10751144

In [ ]:
2+3

5

In [ ]:
# program to find second largest
l = [10,20,30,40,50]
firstlargest = max(l)
l.remove(firstlargest)
print(l)

secondlargest = max(l)
print(secondlargest)

[10, 20, 30, 40]
40

In [ ]:
#tuple
l = (10,20,30,40,50)
print(l)
print(type(l))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [ ]:
#tuple is immutable
#changing 1st index
l = (10,20,30,40,50)
l[0] = 100
print(l)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#changing list to tuple
l = [10,20,30,40,50]
print(l)
print(type(l))
t= tuple(l)
print(t)
print(type(t))

[10, 20, 30, 40, 50]
<class 'list'>
(10, 20, 30, 40, 50)
<class 'tuple'>

In [ ]:
#tuple with single element
t = (10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [ ]:
#tuple indexing
t = (10,20,30,40,50,"ntt")
print(t[0])
print(t[-1])

10
ntt

In [ ]:
#concatenation [new tuple after modification]
t1 = (10,20,30,3.3,"ntt")
newtuple = t1 + (32,54)
print(newtuple)
print(t1)

(10, 20, 30, 3.3, 'ntt', 32, 54)
(10, 20, 30, 3.3, 'ntt')

In [ ]:
t = (10,20,30,40,50)
for i in t:
  print(i)

10
20
30
40
50

In [ ]:
#tuple slicing
t = (10,20,30,40,50)
print(t[::])
print(t[::-1])

(10, 20, 30, 40, 50)
(50, 40, 30, 20, 10)

In [ ]:
#checking memorysize
import sys

list1 = [10,20,30,40,50]
tuple1 = (10,20,30,40,50)

print("size of list",sys.getsizeof(list1))
print("size of tuple",sys.getsizeof(tuple1))

size of list 104
size of tuple 80

In [ ]:
#dictionary

dict1 = {5:"dsf" , 6:"dsfg"}
print(dict1)
print(type(dict1))

{5: 'dsf', 6: 'dsfg'}
<class 'dict'>

In [ ]:
#access dictionary
dict1 = {"pp":"aaa", "qq":"bbb"}
print(dict1)
print(type(dict1))
print(dict1["pp"])

{'pp': 'aaa', 'qq': 'bbb'}
<class 'dict'>
aaa

In [2]:
###simple function
def fun():
  print("hello")
  print("welcome")

print("before function call")
print(fun())
print("after function call")

before function call
hello
welcome
None
after function call

In [3]:
###simple function
def fun():
  print("hello")
  print("welcome")

print("before function call")
fun()
print("after function call")

before function call
hello
welcome
after function call

In [7]:
#square program[without argument and without return value]
def square():
  x=int(input("enter the number"))
  print(x*x)

square()

enter the number5
25

In [8]:
#square program[with argument and with return value]

def square(x):
  return x**2

x=int(input("enter the number"))
result = square(x)
print(result)

enter the number5
25

In [9]:
#square program[with argument and without return value]

def square(x):
  y = x**2
  print("square of",x,"is",y)

x = int(input("enter the number"))
square(x)

enter the number5
square of 5 is 25

In [10]:
#square program[without argument and with return value]

def square():
  x = int(input("enter the number"))
  y = x**2
  return y

result = square()
print(result)

enter the number5
25

In [11]:
#return statement

def test(a,b,c,d):
  return a,b,c,d

x,y,z,w = test(10,20,30,40)
print(x,y,z,w)

10 20 30 40

In [13]:
# return with list and tuple

def test1():
  l1 = [10,20,30,40]
  t1 = (50,60,70)
  return l1,t1

x, y = test1()
print(x,y)
# to check type of l1,t1
print(type(x))
print(type(y))

[10, 20, 30, 40] (50, 60, 70)
<class 'list'>
<class 'tuple'>

In [14]:
# return with list and tuple[generally combined as tuple]

def test1():
  l1 = [10,20,30,40]
  t1 = (50,60,70)
  return l1,t1

x = test1()
print(x)
# to check type of l1,t1
print(type(x))

([10, 20, 30, 40], (50, 60, 70))
<class 'tuple'>