In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [2]:
#NESTED FOR LOOP
for i in "BLR":
  print("outer loop")

  for j in [1,20,30]:
    print("inner loop")
    print(i,j)

outer loop
inner loop
B 1
inner loop
B 20
inner loop
B 30
outer loop
inner loop
L 1
inner loop
L 20
inner loop
L 30
outer loop
inner loop
R 1
inner loop
R 20
inner loop
R 30

In [3]:
# reverse a string
str = input("Enter the string:")
print(str[::-1])

Enter the string:fgfhgjkhl
lhkjghfgf

In [17]:
# palindrome
str = input("Enter a string:")
print(str)
reverse = print(str[::-1])
print(reverse)
if(str == reverse):
 print("palindrome")
else:
  print("not a palindrome")

Enter a string:madam
madam
madam
None
not a palindrome

In [19]:
#string deletion
s1 = "apple"
print(s1)
del s1
print(s1)

apple

NameError: name 's1' is not defined

In [20]:
# count
str = input("Enter the string")
c = str.count('co')
print("length:",c)

Enter the stringcountcount
length: 2

In [21]:
#count with starting index
str = input("Enter the string")
c = str.count('co',1,)
print("length:",c)

Enter the stringcountcount
length: 1

In [23]:
#concatenation
s1 = "apple"
s2 = "banana"
print(s1+s2)
print(s1*3)

applebanana
appleappleapple

In [26]:
#startswith
a = "abcde"
b = "abcde"

In [ ]:
a = 10
print(a)
print(id(a))

10
10751144

In [ ]:
2+3

5